.book-detail-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-detail-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.book-detail-container img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.book-detail-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 8px;
}

.book-detail-container strong {
    font-weight: bold;
    margin-right: 6px;
}

.book-detail-container .loading-text {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #666;
}
 .edit-link {
    text-decoration: none;
    color: white;
}
.edit-button {
    background-color: #4CAF50;
    color: white;
    width: 7rem;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    
}